* {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altura total da tela */
}
.anuncio-fixo {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 300px;
  z-index: 10;
}

li {
  padding: 10px;
  list-style: none;
}

ul {
  justify-content: center;
  display: flex;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Limite de largura para a container */
  width: 100%; /* Largura total até o limite */
}

.quadrado {
  width: 200px; /* Largura do quadrado */
  height: 200px; /* Altura do quadrado */
  background-color: #007bff; /* Cor do quadrado */
  border-radius: 0; /* Começa com bordas retas */
  margin-bottom: 20px; /* Espaço abaixo do quadrado */
  transition: all 0.3s ease; /* Transição suave para todos os efeitos */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Inicia sem sombra */
}

label {
  margin: 10px 0 5px; /* Espaço para as labels */
}

input[type="range"],
input[type="color"] {
  margin-bottom: 10px; /* Espaço abaixo dos sliders e do seletor de cor */
  width: 100%; /* Largura do slider e do seletor de cor */
  max-width: 100%; /* Para garantir que não exceda o limite da container */
}
