* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

.section-container {
  text-align: center;
}

.sidebar {
  background-color: #e2e2e2;
  padding: 15px;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  overflow-x: auto;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar li {
  margin: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  min-width: 120px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #007bff;
  color: white;
}

.quadrado {
  width: 200px;
  height: 200px;
  background-color: #007bff;
  transition: border-radius 0.3s ease;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

.control-panel {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  margin-top: 20px;
}

.control-panel h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.control-panel label,
.control-panel select,
.control-panel input[type="range"],
.control-panel input[type="color"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.border-preview {
  margin: 20px;
  text-align: center;
}

#border-line {
  width: 100%;
  border: 1px solid black;
}

.border-description {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  max-width: 600px; /* Limite a largura do texto para melhor legibilidade */
  text-align: left;
}

main {
  display: flex;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  head {
    display: none;
  }
  script {
    display: none;
  }
  #m,
  #c {
    display: none;
  }
}
