* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  padding: 20px;
}

.sidebar {
  background-color: #e2e2e2;
  padding: 15px;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar li {
  margin: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  min-width: 120px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #007bff;
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.square-container {
  display: flex;
  align-items: center;
}

.quadrado {
  width: 200px;
  height: 200px;
  background-color: #007bff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Efeito de sombra padrão */
  border-radius: 8px; /* Borda arredondada do quadrado */
  margin-right: 20px; /* Espaço entre o quadrado e o parágrafo */
}

main p {
  width: 300px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.control-panel {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.control-panel label {
  margin-top: 10px;
}

.control-panel input[type="range"] {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  max-width: 600px; /* Limite a largura do texto para melhor legibilidade */
  text-align: left;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-preview {
    width: 100%;
  }

  head {
    display: none;
  }
  script {
    display: none;
  }
}
